<h3>Add your review of {{selected_movie.movie_title}}</h3>
<hr>
<form (submit)="createNewReview(movie_id)" onsubmit="return false" name="selected_movie_form" >
  <div class="form-group">
    <!--<label for="user_name">-->
      <!--Your Name:-->
    <!--</label>-->
    <!--<input [(ngModel)]="new_review.user_name"-->
           <!--required-->
           <!--minlength="3"-->
           <!--name="user_name"-->
           <!--#user_name="ngModel"-->
           <!--(change)="logChange(user_name)"-->
           <!--id="user_name"-->
           <!--type="text"-->
           <!--class="form-control" >-->

    <!--<div class="alert alert-danger" *ngIf="(!user_name.valid && !user_name.untouched && user_name.dirty);" >-->
      <!--<div *ngIf="user_name.errors.required">Blank user names are not allowed</div>-->
      <!--<div *ngIf="user_name.errors.minlength">User names must contain more than {{ user_name.errors.minlength.requiredLength }} letters</div>-->
    <!--</div>-->

    <!--<br/>-->

    <div class="alert alert-danger" *ngIf="(!user_name.valid && user_name.dirty);" >
      <div *ngIf="user_name.errors.required">Blank user names are not allowed</div>
      <div *ngIf="user_name.errors.minlength">User names must contain more than {{ user_name.errors.minlength.requiredLength }} letters</div>
    </div>
    <div class="form-group">
      <label for="review.user_name">Your name:</label>
      <input
        id="review.user_name"
        type="text"
        name="user_name"
        [(ngModel)]="new_review.user_name"
        #user_name="ngModel"
        minlength="3"
        required
      />
      <!--<div class="alert alert-danger" *ngIf="(!user_name.valid && !user_name.untouched && user_name.dirty);" >-->

    </div>



    <div class="form-group" [class.has-error]="review_stars.untouched">
      <label for="review_stars">Rating (1-5 stars):</label>
      <select
        [(ngModel)]="new_review.stars"
        id="review_stars"
        name="review_stars"
        #review_stars="ngModel"
        required


      >
        <!--<option value="" disabled selected>>select a star</option>-->
        <!--<option selected="selected" [value]="star_select[0]">{{star_select[0]}}</option>-->
        <option [value]="star_select[0]">{{star_select[0]}}</option>
        <option [value]="star_select[1]">{{star_select[1]}}</option>
        <option [value]="star_select[2]">{{star_select[2]}}</option>
        <option [value]="star_select[3]">{{star_select[3]}}</option>
        <option [value]="star_select[4]">{{star_select[4]}}</option>
      </select>
    </div>


    <!--<label for="star_rating">-->
      <!--Rating:-->
    <!--</label>-->

    <!--<select class="form-control" required [(ngModel)]="new_review.stars" id="star_rating" name="star_rating">-->
      <!--&lt;!&ndash;<option value="" disabled selected>>select a star</option>&ndash;&gt;-->
      <!--<option [value]="star_select[0]">{{star_select[0]}}</option>-->
      <!--<option [value]="star_select[1]">{{star_select[1]}}</option>-->
      <!--<option [value]="star_select[2]">{{star_select[2]}}</option>-->
      <!--<option [value]="star_select[3]">{{star_select[3]}}</option>-->
      <!--<option [value]="star_select[4]">{{star_select[4]}}</option>-->
    <!--</select>-->
    <!---->
    <!---->

    <!--<br/>-->
    <!--<label for="review_text">-->
      <!--Review:-->
    <!--</label>-->
    <!--<input [(ngModel)]="new_review.review_text"-->
           <!--required-->
           <!--minlength="3"-->
           <!--name="review_text"-->
           <!--#review_text="ngModel"-->
           <!--id="review_text"-->
           <!--type="text"-->
           <!--class="form-control"-->
           <!--(change)="logChange(review_text)">-->
    <!--<br/>-->
    <!--<div class="alert alert-danger" *ngIf="(!review_text.valid && !review_text.untouched && review_text.dirty);" >-->
      <!--<div *ngIf="review_text.errors.required">Blank reviews are not allowed</div>-->
      <!--<div *ngIf="review_text.errors.minlength">Reviews must contain more than {{ review_text.errors.minlength.requiredLength }} letters</div>-->
    <!--</div>-->

  </div>


  <div class="alert alert-danger" *ngIf="(!review_text.valid && review_text.dirty);" >
    <div *ngIf="review_text.errors.required">Blank reviews are not allowed</div>
    <div *ngIf="review_text.errors.minlength">Reviews must contain more than {{ review_text.errors.minlength.requiredLength }} letters</div>
  </div>
  <div class="form-group">
    <label for="review.review_text">Your review</label>
    <textarea
      class="form-control"
      id="review.review_text"
      name="review_text"
      [(ngModel)]="new_review.review_text"
      #review_text="ngModel"
      minlength="3"
      required
    >

    </textarea>
  </div>
  <button type="submit" class="btn-outline-light" name="submit">Submit</button>
  <!--<button type="reset" name="reset" (click)="navHome()">Cancel</button>-->
  <button type="reset" class="btn-outline-light" name="reset" [routerLink]="['../../details/'+movie_id]">Cancel</button>

</form>


<div *ngIf="backend_errors">
  <p>There were errors with the movie registration:</p>
  <div *ngFor="let err of backend_errors" class="alert-danger">
   -> {{err}}
  </div>
</div>

